p::first-line { color: rgb(208, 76, 255);}
p::first-line { text-transform: uppercase;}
h1::before { content: "Css - " ; }
p::after { content: "."; }
p::selection { background: pink;}

tr:nth-child(2n)
{
    background: rgb(70%, 15%, 19%);
}

tr:nth-child(2n+1)

{
    background: rgb(70%, 95%, 18%);
}

ul li{
    border-bottom: 1px dotted #000;
    font-size: 50px;
    }
li:first-child
{
    border-top: 1px dotted #AF0;
    background-color: #AF0;
    border-bottom: none;
    list-style-type: square;
    }
li:last-child
{
    color: #FF0;
    list-style-type: square;
}
/* Pseudo-clase link para los enlaces no visitados */
a:link {
    color: blue;
  }
  
  /* Pseudo-clase visited para los enlaces visitados */
  a:visited {
    color: purple;
  }
  
  /* Pseudo-clase hover para cuando el mouse está sobre un enlace */
  a:hover {
    color: red;
  }
  
  /* Pseudo-clase active para cuando se hace clic en un enlace */
  a:active {
    color: green;
  }
  
  /* Pseudo-clase focus para cuando un enlace tiene el foco */
  a:focus {
    outline: 2px solid orange; /* Puedes ajustar el estilo según tus preferencias */
  }
  