body{
  margin-left: 200px;
  margin-right: 300px;
  padding: 10px;
  margin: 10px;
}

header{
  height: 110px;
  width: : 100px;
  background-color: rgb(188, 240, 127); 
  border: 1px gray solid;
  margin: auto;
  padding: 0px 10px 10px 10px;
}

nav{
  height: 50px;
  background-color: rgb(252, 236, 184); 
  border: 1px gray solid;
  margin:  30px 10px 10px 10px;
}

#cont{
  height:300px;
  width: auto;
  border-top: 0px gray solid;
  border: 1px gray solid;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

aside#aside{
  height: 98%;
  width: 40%;
  background-color: rgba(188, 240, 127);
  border: 1px gray solid;
  float: left;
  margin:auto;
}

aside#section{
  height:95%;
  width: 55%;
  background-color: rgb(188, 240, 127); 
  border: 1px gray solid;
  float: right;
  margin:auto;
}

article#article1{
  background-color: rgb(252, 236, 184);
  margin: 5mm;
  height: 10%;
  border: 1px gray solid;
  padding: 0px 20px 50px 0px;
}

article#article2{
  background-color: rgb(252, 236, 184); 
  margin: 5mm;
  height: 10%;
  border: 1px gray solid;
  padding: 0px 20px 50px 0px;
}

footer{
  background-color: rgb(188, 240, 127); 
  height:60px;
  border: 1px gray solid;
}
